/* TODO use actual color palette variables */

#about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px;
  margin-bottom: 60px;
}

.about-page-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-page-block-txt {
  /* TODO define variables in color palette */
  background-color: #8F0D56;
  color: #FFFFFF;
  width: 531px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  left: 50px;
  top: 50px;
  z-index: 10;
}

.about-page-block-img {
  position: relative;
  left: -50px;
  width: 717px;
}

.about-page-block-question {
  font-size: 20px;
  margin: 0;
}

.about-page-block-desc {
  margin-top: 20px;
  font-size: 16px;
}

@media screen and (max-width: 1450px) {
  .about-page-block-img {
    width: 400px;
    left: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .about-page-block-txt {
    width: 300px;
    padding: 20px;
    top: 0px;
  }
}

@media screen and (max-width: 800px) {
  .about-page-block {
    flex-direction: column;
    gap: 20px;
  }
  .about-page-block-txt {
    width: 90%;
    left: 0px;
  }
  .about-page-block-img {
    max-width: 90%;
  }
}
