/* TODO use actual color palette variables */

#about-page {
  background-color: #8F0D56;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.about-page-block {
  background-color: #FFFFFF;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-page-block-title {
  font-size: 30px;
}

.about-page-block-question {
  font-size: 40px;
}

.about-page-block-desc {
  margin-top: 20px;
  font-size: 20px;
}
