.dropdown {
  display: inline-flex;
  flex-direction: column;
  margin-right: 24px;
}

.dropdown-options {
  width: 150px;
  height: 40px;
}

/* override selected options preview styling */
.MuiSelect-select,
.dropdown-option {
  font-family: var(--text-font);
  font-size: 1em;
}
