.dropdown {
  display: inline-flex;
  flex-direction: column;
  margin-right: var(--filter-gap);
}

.dropdown-options {
  width: 150px;
  height: var(--filter-height);
}

/* override selected options preview styling */
.MuiSelect-select,
.dropdown-option {
  font-family: var(--text-font);
  font-size: 1em;
}