#home-page {
  margin: 30px;
}

#home-banner {
  background: #000;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: #fff;
}

#home-banner div {
  margin: 20px;
}

#home-banner .home-banner-lower-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#home-banner .home-banner-title {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#home-banner .home-banner-image {
  width: 300px;
  margin: 30px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  #home-banner .home-banner-image {
    width: 475px;
  }
}

#home-banner .home-banner-desc {
  border: 1px solid #fff;
  padding: 20px;
  margin: 30px;
  /* margin-left: min(30px, auto); */
  font-size: x-large;
}

#home-bill-grid {
  display: grid;
  gap: 20px 20px;
  margin-bottom: 42px;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.home-bill-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  padding: 16px;
  background-color: white;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  transition: border 0.2s;
}

.home-bill-card>div:last-of-type {
  margin-top: auto;
}

.home-bill-card:hover {
  border: 2px solid #bcc6a8;
  cursor: pointer;
  text-decoration: none;
}

.home-bill-categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 1450px) {
  #home-bill-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #home-bill-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-bill-card {
    width: 100%;
  }

  #home-banner .home-banner-title {
    font-size: x-large;
  }
}

@media screen and (max-width: 800px) {
  #home-banner {
    grid-template-columns: 100%;
  }

  #home-bill-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  #home-banner .home-banner-title {
    font-size: large;
  }
}