#home-page {
  margin: 30px;
}

#home-banner {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  overflow: hidden;
  position: relative;
  min-height: 300px;
}

/* https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */
#home-banner-bg {
  opacity: 0.6;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

#home-banner-overlay {
  position: relative;
  height: 100%;
  display: flex;
  align-items: end;
}

#home-banner-content {
  background: rgba(238, 237, 231, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

#home-banner ul {
  margin-top: 12px;
  margin-bottom: 0;
}

#home-banner .home-banner-desc {
  display: flex;
  justify-content: center;
}

#home-banner .home-banner-title {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

@media screen and (min-width: 768px) {
   #home-banner {
    min-height: 650px;
   }
   #home-banner-content {
    flex-wrap: nowrap;
    height: auto;
   }
   .home-banner-title {
    width: 60%;
   }
}

#home-banner .home-banner-desc {
  margin: 30px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

#home-bill-grid {
  display: grid;
  gap: 20px 20px;
  margin-bottom: 42px;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.home-bill-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  padding: 16px;
  background-color: white;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  transition: border 0.2s;
}

.home-bill-card>div:last-of-type {
  margin-top: auto;
}

.home-bill-card:hover {
  border: 2px solid #bcc6a8;
  cursor: pointer;
  text-decoration: none;
}

.home-bill-categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 1450px) {
  #home-bill-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #home-bill-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-bill-card {
    width: 100%;
  }

  #home-banner .home-banner-title {
    font-size: x-large;
  }
}

@media screen and (max-width: 800px) {
  #home-banner {
    grid-template-columns: 100%;
  }

  #home-bill-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
