.text-field-container {
  margin-right: var(--filter-gap);
  align-self: end;
}

.MuiTextField-root .MuiInputBase-root {
  font-family: var(--text-font);
  height: var(--filter-height);
  font-size: 1em;
}

.MuiInputLabel-root {
  font-size: 1em;
}

.MuiInputLabel-root[data-shrink=false] {
  line-height: 0.8em;
  top: -0.1em;
}