/* Putting them up here to be more reusable/changeable in the future */
:root {
  --advanced-error: rgb(238, 144, 144);
  --advanced-warning: yellow;
  --advanced-success: lightgreen;
  --advanced-secondary: lightgray;
}

.member_bill-passed {
  background-color: var(--advanced-secondary);
}
.member_bill-passed {
  background-color: var(--advanced-secondary);
}
.member_bill-not_sponsoring {
  background-color: var(--advanced-error);
}
.member_bill-sponsoring {
  background-color: var(--advanced-success);
}
.member_bill-dne {
  background-color: var(--advanced-secondary);
}

th {
  background-color: white;
  position: sticky;
  top: 0;
}

.row-name {
  background-color: white;
  position: sticky;
  left: 0;
}