@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    font-family: 'Source Sans 3';
}

.bill-content {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 50px;
}

.summary {
    flex: 1;
}

.summary h2 {
    margin: 0;
}

.action {
    display: flex;
    flex-direction: column;
    background: #8F0D56;
    border: 2px solid #E6E6E6;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    padding: 0px 30px 30px 30px;
    width: 40%;
}

.action h1 {
    width: fit-content;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #FFDE16; /* TODO color palette */
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -30px;
    display: flex;
    text-align: center;
    justify-items: center;
    padding: 10px 50px;
    margin: 0 auto;
}

.action p {
    margin: 0;
}

.important {
    padding: 30px ;
    margin-top: 50px;
    color: white;
    border-radius: 10px;
    background: #8F0D56;
}

.important h4 {
    margin: 0;
}

@media screen and (max-width: 1450px) {
    .action h1 {
        font-size: 24px;
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .bill-content {
        flex-direction: column;
    }

    .action {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .bill-content {
        margin: 20px;
    }
}

#senate-site-link {
    align-items: center;
    display: inline-flex;
}
