@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    font-family: 'Source Sans 3';
}
.content {
    display: flex;
}
.summary {
    /* width: 45%; */
    justify-content: flex-start;
}
.status {
    /* width: 45%; */
    justify-content: flex-start;
}
.category {
    /* width: 45%; */
    justify-content: flex-start;
}
.action {
    /* width: 45%; */
    overflow: auto;
    border-radius: 10px;
    background: #eeede7;
    padding: 20px;
    justify-content: flex-end;
    max-height: max-content;
    min-height: min-content;
    margin-top: 20px;
}

.script {
    overflow: auto;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    justify-content: flex-end;
    max-height: max-content;
    min-height: min-content;
    margin-top: 20px;
}

.important {
    overflow: auto;
    border-radius: 10px;
    background: #eeede7;
    padding: 10px;
    justify-content: flex-start;
    max-height: max-content;
    min-height: min-content;
    margin-top: 20px;
}