.loc-form {
    margin-top: 20px;
    border-radius: 10px;
}

.loc-form input#autocomplete {
    width: 250px;
}

.loc-form form, .loc-form button.change-location {
    padding-top: 10px;
}

.loc-form .representatives {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    margin-bottom: 16px;
}

.loc-form .representative .sponsor {
    color: #95AF9B;
}

.loc-form .representative .no-sponsor {
    color: #DE5827;
}

.loc-form .script-title {
    padding: 20px;
}

.loc-form .script {
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
}


.loc-form .thanks {
    font-size: 24px;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-align: center;
}