.loc-form {
    padding: 10px;
    border-radius: 10px;
}

.loc-form input#autocomplete {
    width: 250px;
}

.loc-form form, .loc-form button.change-location {
    padding-top: 10px;
}

.representatives {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    margin-bottom: 16px;
}

.script-title {
    padding: 20px;
}

.script {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
}